<div class="container-cadastro">
    
    <form action="/cadastrar/create" method="post">

    <div>
    <label for="nome">Nome <br> 
        <input type="text" minlength="1" name="nome" placeholder="Digite o nome do livro">
    </label>
    </div>

    <div>
    <label for="author">Author: <br>
        <input type="text" minlength="1" name="author" placeholder="Digite o nome do author">
    </label>
    </div>


    <div>
    <label for="qtp">Quantidade de páginas: <br> 
        <input type="number" min="1" minlength="1" name="qtp" placeholder="Digite a quantidade de páginas">
    </label>
    </div>

    <div>
        <input type="submit" value="Cadastrar livro">
    </div>
    
    </form>
</div>